#EventDetailsLITable {
  float: left;
  text-align: center;
  margin-left: 10%;
  width: 80%;
  margin-right: 10%;
  margin-bottom: 3%;
}

.imgdiv {
  position: relative;
  text-align: center;
  color: black;
  font-family: sans-serif;
  font-size: 4rem;
}

.centered {
  position: absolute;
  top: 35%;
  left: 33%;
  transform: translate(-30%, -50%);
  transform: rotate(15deg);
  border-style: solid;
  padding: 1%;
}

.text-right {
  padding-left: 20px;
}

.img-fluid {
  width: 95%;
  height: 25vw;
  object-fit: cover;
}

.modal-content {
  margin: 10% 35%;
  width: 30%;
}

.modalbody {
  padding: 2% 5%;
  text-align: center;
}

.modalbtn {
  margin: 0 5px;
}

#editeventbtn,
#cancelbtn,
#deleteeventbtn {
  width: 25%;
}

#textright {
  padding-left: 0vw;
}

#loginBox {
  text-align: center;
}

.cancelimg {
  opacity: 0.2;
}

.img-fluid {
  width: 90%;
  height: 25vw;
  object-fit: cover;
}

@media screen and (max-width: 800px) {
  .titleeventdetails {
    font-size: 6vw;
  }
  #textleft,
  #textright {
    font-size: 2vw;
  }
  #editeventbtn,
  #cancelbtn,
  #deleteeventbtn {
    width: 40%;
  }
  .imgdiv {
    font-size: 3rem;
  }
}

@media screen and (max-width: 650px) {
  .modal-content {
    margin: 40% 10%;
    width: 80%;
  }
  .imgdiv {
    font-size: 2rem;
  }

  #editeventbtn,
  #cancelbtn,
  #deleteeventbtn {
    width: 50%;
  }

  #EventDetailsLITable {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    text-align: left;
  }
  #loginBox {
    width: 100%;
    text-align: left;
    float: left;
    margin-left: 0%;
    margin-right: 0%;
  }
  .titleeventdetails {
    font-size: 8vw;
  }
  .imgdiv {
    text-align: center;
  }
  .text-left,
  .text-right {
    font-size: 3vw;
  }
}
