#EventDetailsLITable {
  float: left;
  text-align: center;
  margin-left: 10%;
  width: 80%;
  margin-right: 10%;
  margin-bottom: 3%;
}

.img-fluid {
  width: 95%;
  height: 25vw;
  object-fit: cover;
}

.modal-content {
  margin: 10% 35%;
  width: 30%;
}

.modalbody {
  padding: 2% 5%;
  text-align: center;
}

.modalbtn {
  margin: 0 5px;
}

.eventdetailsbtn {
  margin-top: 1vw;
}

#editeventbtn {
  float: left;
}

#deleteeventbtn {
  float: right;
}

#textright {
  padding-left: 0vw;
}

#loginBox {
  text-align: center;
}

.img-fluid {
  width: 95%;
  height: 25vw;
  object-fit: cover;
}

@media screen and (max-width: 650px) {
  #EventDetailsLITable {
    margin-left: 0%;
    margin-right: 0%;
    width: 100%;
    text-align: left;
  }
  #loginBox {
    width: 100%;
    text-align: left;
    float: left;
    margin-left: 0%;
    margin-right: 0%;
  }
}
