.menu {
  margin-bottom: 3%;
}

#title {
  margin-right: 0px;
}

#loginButton {
  margin-left: -2px;
  margin-right: -10px;
}

#homeButton {
  margin-left: auto;
  margin-right: -10px;
}

#profileButton {
  margin-left: 0;
  margin-right: -10px;
}

#loginButton {
  margin-left: 0;
  margin-right: -10px;
}

#eventButton {
  margin-left: 0;
  margin-right: -10px;
}

.loginGroup {
  display: contents;
}

@media screen and (max-width: 600px) {
  #navbarSupportedContent {
    display: none;
  }
  .navbar-toggler {
    display: contents;
  }
}

@media screen and (min-width: 600px) {
  .navbar-toggler {
    display: none;
  }
  #navbarSupportedContent {
    display: contents !important;
  }
  .loginGroup {
    display: contents !important;
  }
}
