.filtertitle {
  font-size: 1.25rem;
  margin: 10px 15px;
  font-family: sans-serif;
}

.placecheck {
  padding-left: 2px;
}

h6 {
  font-family: sans-serif;
}
.filtercategories {
  padding: 0;
}

.sortlabel {
  padding-left: 0;
}

#filterCard {
  width: 18%;
  margin-left: 10%;
  margin-right: 2%;
  float: left;
  margin-bottom: 1%;
  margin-top: 1%;
  margin-bottom: 40%;
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.arrow {
  border: solid green;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 6px;
  margin: 0 20px;
  margin-top: -20px;
}

.dropdown {
  border: none;
  background-color: transparent;
  visibility: hidden;
  float: right;
}

h6 {
  text-align: left;
  margin-top: 1px;
}

@media screen and (max-width: 700px) {
  .dropdown {
    visibility: visible;
  }
  #filterCard {
    margin-bottom: 5%;
  }
}
