.filtersortbtn {
  border: none;
  padding: 5px 10px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  margin-right: 20px;
}

.pricegroup {
  margin-left: 0;
}

.filtersortbtn:hover {
  background-color: lightgrey;
}

.filtertitle {
  font-size: 1.25rem;
  margin: 10px 15px;
  font-family: sans-serif;
}

.placecheck {
  padding-left: 2px;
}

h6 {
  font-family: sans-serif;
}
.filtercategories {
  padding: 0;
}

.sortlabel {
  padding-left: 0;
}

#filterCard {
  width: 18%;
  margin-left: 10%;
  margin-right: 2%;
  float: left;
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.arrow {
  border: solid rgb(0, 0, 0);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 6px;
  margin: 4px 18px;
}

.dropdown {
  border: none;
  background-color: transparent;
  visibility: visible;
  float: right;
}

h6 {
  text-align: left;
  margin-top: 1px;
}

#searchBox2 {
  width: 100% !important;
  margin-left: 0% !important;
  margin-right: 0% !important;
}

@media screen and (max-width: 850px) {
  #filterCard {
    margin-right: 5%;
    margin-left: 5%;
    width: 90%;
  }
  .filtersortbtn {
    font-size: medium;
    margin-right: 300px;
  }
}
