#searchBox {
  width: 80%;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

@media screen and (max-width: 850px) {
  #searchBox {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}
