#carddetailsevent {
  padding: 20px 0;
  margin: 0 20%;
}

.imgdiv {
  text-align: center;
  margin-bottom: 2px;
}

#eventdetailsimg {
  font-size: 1rem;
}

#textleft,
#textright {
  font-size: 1.5vw;
}

.btndivevent {
  text-align: center;
  margin: 0 0;
  width: 100%;
}

.eventdetailstable {
  text-align: center;
  margin-left: 10%;
  width: 80%;
  margin-right: 10%;
  margin-bottom: 3%;
}

.canceling {
  opacity: 0.2;
}

.centered {
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translate(-30%, -50%);
  transform: rotate(15deg);
  border-style: solid;
  padding: 1%;
}

.img-fluid {
  width: 95%;
  height: 25vw;
  object-fit: cover;
}

.artistmap {
  float: left;
  padding: 0 12px;
  padding-top: 12px;
  margin: 0;
}

@media screen and (max-width: 800px) {
  .titleeventdetails {
    font-size: 7vw;
  }
}

@media screen and (max-width: 650px) {
  .titleeventdetails {
    font-size: 8vw;
  }

  .eventdetailstable {
    text-align: left;
    margin-left: 5%;
    width: 90%;
    margin-right: 5%;
    margin-bottom: 3%;
  }
  .imgdiv {
    text-align: center;
  }
  #textleft,
  #textright {
    font-size: 4vw;
  }
}
