#carddetailsevent {
  padding: 20px 0;
  margin: 0 20%;
}

#textright {
  padding-left: 10vw;
}

#EventDetailsText {
  font-size: 3vw;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-bottom: 15px;
  width: 50%;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
}

.imgdiv {
  text-align: center;
  margin-bottom: 2px;
}

#textleft,
#textright {
  font-size: 1.5vw;
}

.btndivevent {
  text-align: center;
  margin: 0 0;
  width: 100%;
}

#EventDetailsTable {
  text-align: center;
  margin-left: 10%;
  width: 80%;
  margin-right: 10%;
  margin-bottom: 3%;
}

.img-fluid {
  width: 95%;
  height: 25vw;
  object-fit: cover;
}

.artistmap {
  float: left;
  padding: 0 12px;
  padding-top: 12px;
  margin: 0;
}

@media screen and (max-width: 800px) {
  #textleft,
  #textright {
    font-size: 3vw;
  }
  #EventDetailsText {
    font-size: 8vw;
  }
}

@media screen and (max-width: 650px) {
  #EventDetailsText {
    font-size: 6vw;
  }

  #EventDetailsTable {
    text-align: left;
    margin-left: 5%;
    width: 90%;
    margin-right: 5%;
    margin-bottom: 3%;
  }
  .imgdiv {
    text-align: center;
  }
  #textleft,
  #textright {
    font-size: 4vw;
  }
}
